.sendMailSection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.sendMailSection p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
    color: #bef3f5;
    margin-top: 1.5rem;
}

.mailField{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

/* .sendBtn{

} */

.aiResponseTextArea{
    width: 100%;
}
